<footer>
    <h3>By Eduardo</h3>

    <nav>
        <ul>
            <li><a href="https://www.linkedin.com/in/eduardo-griesang/">LinkedIn</a></li>
        </ul>
        <ul>
            <li>•</li>
        </ul>
        <ul>
            <li><a href="https://github.com/Eduardo-Griesang">GitHub</a></li>
        </ul>
        <ul>
            <li>•</li>
        </ul>
        <ul>
            <li><a href="https://portfolio-eduardo-griesang.vercel.app">Portfolio</a></li>
        </ul>
    </nav>
</footer>
