<app-title title="My Art Gallery"></app-title>
<section class="artigos">
    <div class="artigos-main">
        <app-big-card
        Id="1"
        photoCover="https://lh3.googleusercontent.com/ci/ALr3YSFzPZ7rknazzBO19apvQccGdEg0EABjOm3i4a3D_Jt2L2oEJgYyQH5snpWJ727NnQIod_z03Q"
        cardTitle="De sterrennacht"
        cardDescription="De sterrennacht é uma pintura de Vincent van Gogh. A obra retrata a vista da janela de um quarto do hospício de Saint-Rémy-de-Provence, pouco antes do nascer do sol."
        ></app-big-card>
    </div>
    <div class="artigos-other">
        <app-small-cards
        Id="2"
        photoCover="https://images.ctfassets.net/u7fuap5iqsvx/4PPp9PMCFP4WagbIK8mAYQ/a21218a1c6436c251e003d90260b743e/HB-138-image.jpg?fm=webp&h=2048&w=1757"
        cardTitle="Panning in the Reeds"
        cardDescription="Vivid color palettes using the artist’s signature stylized formality, featuring androgynous young male figures."
        ></app-small-cards>

        <app-small-cards
        Id="6"
        photoCover="https://uploads6.wikiart.org/images/salvador-dali/the-persistence-of-memory-1931.jpg"
        cardTitle="The Persistence of Memory"
        cardDescription="Hard objects become inexplicably limp in this bleak and infinite dreamscape. Mastering what he called “the usual paralyzing tricks of eye-fooling,” Dalí painted with “the most imperialist fury of precision."
        ></app-small-cards>

        <app-small-cards
        Id="4"
        photoCover="https://images.ctfassets.net/u7fuap5iqsvx/4apduF5s4cNoTbJbAnltik/afcb8751d5d8d87b7de1a83be25ce226/image__3___1_.png?fm=webp&h=688&w=760"
        cardTitle="Greed and Greed 1"
        cardDescription="Christine Ay Tjoe’s paintings from 2016 illustrate a stylistic shift in the artist’s expressionist painting practice towards more pictorial compositions with dynamic allusions to violent and infernal motifs"
        ></app-small-cards>
    </div>
</section>
<app-footer></app-footer>